@font-face {
  font-family: "SpotifyMix";
  src: url("/fonts/SpotifyMix-Regular.ttf") format("truetype");
}

@import "tailwindcss";

body {
  font-family: "SpotifyMix", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
