@font-face {
  font-family: "SpotifyMix";
  src: url("/src/assets/fonts/SpotifyMix-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

body {
  font-family: "SpotifyMix", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
